<h1>Update / Edit <%= @user.name %>'s information</h1>

Name = <%= @user.name %>

<%= link_to "Update", "/users/#{@user.id}/edit", method:"GET" %>
<%= link_to "Delete", "/users/#{@user.id}", method:"DELETE" %>
<%= link_to "Index", "/users" %>